<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapAppSDK" version="1.0.1011.1716" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="GoogleAnalyticsSDK" version="1.1.01" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="wp80" />
  <package id="PhoneThemeManager" version="1.5" targetFramework="wp80" />
  <package id="ReviewNotifier" version="1.0.0" targetFramework="wp80" />
  <package id="StorageHelper" version="1.0.0" targetFramework="wp80" />
  <package id="System.Spatial" version="5.6.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>